
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

/*-------------ROOT-----------*/
:root 
{
    font-size: 62.5%;
    /*10px
    calculo 16px * 0,625 = 10px */
}

/*-------------BODY-----------*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem; /*flexivel */
    background: hsla(202, 41%, 82%, 1);
}

body::before {
    content: ''; 
    width: 100%; 
    height: 46.3rem; 

    background: #293241;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    background-color: #52586f;

    animation: topdown 900ms;

} 

/*-------------PAGE-----------*/
.page {
    max-width: 75rem; 
    margin: 0 auto;
}

/*-------------HEADER-----------*/

header {
    margin-top: 4rem;
    max-width: 41.7rem;
    color: #FFFFFF;
}


header h1 {
    
    font-size: 4.8rem; 
    line-height: 6rem; 

    color: hsla(0, 0%, 100%, 1);
    text-transform: uppercase;
    
    margin-bottom: 1.8rem;     
}

header p {
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
 
}

header img {
   
    margin-bottom: 3rem;
    padding: 0 4.3rem;
}

/*-------------FORM-----------*/

form {
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px; 

    margin-top: 5.8rem;
    padding: 6.4rem; 
    min-height: 30rem;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    animation: downtop 700ms backwards;
}


fieldset {
    border: none; 
}

fieldset h2 {
    font-size: 2.0rem;
    line-height: 3.4rem;
    margin-top: 1.6rem;

    color: #535971;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.fieldset-wrapper legend { 
    font-family: 'Staatliches', cursive;

    font-size: 2.4rem;
    line-height: 3.4rem;

    color: #535971;

    border-bottom: 1px solid #E6E6F0; 

    width: 100%; 
    padding-bottom: 1.6rem; 
}

.input-wrapper-info {
    display: flex;
    gap: 2.2rem;
}
  
.input-wrapper-info .info { 
    display: flex;
    flex-direction: column; 
    width: 50%;
} 

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label,
.input-wrapper-info label,
.checkbox-wrapper label {
    font-size: 1.4rem;

    line-height: 2.4rem;
    color: #4E4958;
    margin-bottom: 8px;
}

.input-wrapper span {
    margin-left: 1rem;  
    font-size: 1.2rem;
    line-height: 2rem;
    color: #C1BCCC;
}

.input-wrapper span:hover {
    color: #636069;
}

.input-wrapper input, .input-wrapper-info input,
#event-category, .input-wrapper feed
{   
    background: #FAFAFC; 
    height: 5.6rem; 

    border: 1px solid #545457; 
    border-radius: 8px;

    padding: 0 2.4rem; 
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #4a494e;
}
/*-------------Dia e Hora-----------*/
.col-3 {
    display: flex;
    gap: 2rem;

}

.col-3>div:nth-child(1) { 

    width: 100%;
}

.col-3 .info-time {
    display: flex;
    gap: 1rem;
}

.checkbox-wrapper label { 
    display: flex;
    align-items: center;
    gap: 8px;

}

.checkbox-wrapper input { 
  
    position: absolute; 

    width: 2.4rem;
    height: 2.4rem;
    
    opacity: 0; 
}

.checkbox-wrapper {
    position: relative; 
}


.checkbox-wrapper label::before {
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 8px;
    border: 1px solid #E6E6F0;

    display: block;

}

.checkbox-wrapper input:checked + label::before {

    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='24' height='24' rx='8' fill='%23FAFAFC' stroke='%23E6E6F0'/%3E%3Cpath d='M10 17.17L5.83 13L4.41 14.41L10 20L22 8L20.59 6.59L10 17.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;/*igual ao border */
}


 /*-------------FOOTER-----------*/

footer .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    gap: 1rem;

    margin-top: 3.3rem; 
    margin-bottom: 4.3rem; 

    width: 100%;
    height: 5.1rem;

    border: none;

    background: #F67669;
    border-radius: 8px;
    
    /*fonte*/
    font-family: 'Staatliches';

    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.6rem;
    color: #FFFFFF;
}

footer .button:hover { 
    background: #bb1869;

}

input:invalid {
    border: 2px solid #FF1010;
}

@media (max-width: 700px) {
    body:before{
      background-position: center;
      
    }
    header {
        text-align: center;
    } 

    .page {
        margin: 0 2rem;
    }

    form {
        padding: 3rem;
    }

    .input-wrapper-info input {
        width: 100%;
    }

    .col-3 {
        flex-direction: column;
      }
    
      .col-3 .info-time {
        flex-direction: column;
      }
    
      .col-3 input {
        width: 100%;
      }
   
    }
    
    @keyframes topdown{
        0% {
          opacity: 0;
          transform: translateY(-150px);
        }
      
        100% {
          opacity: 1;
          transform: translateY(0);
        }
    }
    
    @keyframes downtop {
      0% {
        transform: translateY(400px);
      }
    
      100% {
        transform: translateY(0);
      }
    }